@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100; 1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


h3{
    font-size: 75px;
    font-family:  "Montserrat Alternates";
    color: #C6E11C;
}
a {
    text-decoration: none;
}


#navegador {
    font-family: "Montserrat Alternates";
    font-size: 40px;
    width: 100%;
    padding: 15px 100px;
    background: #18602C;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    position: fixed;
    z-index: 1000;
}
#navegador a {
    text-decoration: none;
    color: #FC9EFF;
}
#navegador a:hover {
    color: #C6E11C;
    font-weight: bold;
}
nav a {
    padding: 5px 10px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botonera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}



#presentacion {
    width: 100%;
    height: 900px;
    background-color: #18602C;
    display: flex;
    align-items: center;
    padding:90px 100px 0 100px
}
.nombre {
    font-size: 160px;
    font-family:  "Montserrat Alternates";
    display: flex;
    flex-direction: column;
    color: #FC9EFF;

    h1{
        font-weight: bold;
          
    }
    .lujan {
        font-style: italic;
        font-weight: 300;
        margin-top: 30px;
    }
    .glifo {
        font-weight: 300;
        margin-top: 30px;
    }
}
.nombre1, .nombre2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}

.nombre:hover {
    color: #C6E11C;

    h1{   
    font-style: italic;
    font-weight: 300;
     
    }
    .lujan, .glifo {
        font-weight: bold;
        font-style: normal;
    }
}

.redes-fijo {
    background-color: #C6E11C;
    padding: 20px;
    position: fixed;
    right: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#trabajos-main .redes-fijo{
    background-color: #FC9EFF;
    padding: 20px;
    position: fixed;
    right: 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#sobre-mi {
    width: 100%;
    height: 1000px;
    background-color: #FC9EFF;
    padding: 140px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.informacion {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
}
.informacion h2 {
    color: #18602C;
    font-family: "Montserrat Alternates";
    font-size:120px;
    font-weight: bold;
    padding: 30px 60px;
    background-color: #C6E11C;
    border-radius: 60px 60px 0% 60px;
}
.informacion p {
    color: black;
    font-family: "Montserrat";
    font-size: 30px;
    max-width: 600px;
    line-height: 38px;
    text-align: justify;
}
.imagen-vir {
    border-radius: 60px;
}


#datos {
    height: 1200px;
    background-color: #FC9EFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 100px;
    gap: 40px;
}
.datos1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;


}
.educacion, .habilidades {
    height: 520px;
    width: 780px;
    padding: 70px;
    background-color: #18602C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    li{
        font-family: "Montserrat";
        font-size: 30px;
        color: #FC9EFF;
        line-height: 40px;
        font-weight:600;
    }
    
    
}
.datos2 {
    height: 520px;
    width: 1600px;
    padding: 70px;
    background-color: #18602C;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 300px;

    li{
        font-family: "Montserrat";
        font-size: 30px;
        color: #FC9EFF;
        line-height: 40px;
        font-weight:600;
    }
}
.competencias {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.img-adobe {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.adobe1, .adobe2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.after-effects, .figma, .visual {
    border-radius: 30px;
}


#contenedor{
    height: 1100px;
    overflow: hidden;
    background-color: #18602C;
    padding: 40px 0;
    
}
.fotos {
    height: 100%;
    position: relative;
    
}
.carrusel {
    height: 100%;
    padding: 100px 220px 20px;
}
.flechas {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;

}
.flecha-iz, .flecha-iz-galeria {
    transform: rotate(180deg);
}
.foto-carrusel1 {
    border-radius: 40px;
}




#informacion_contacto {
    font-family: "Montserrat";
    background-color: #FC9EFF;
}

.estructura_contacto {
    padding: 300px 100px 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 150px;
}

.contacto {
    color:#18602C;
    width: 875px;
    background-color:#C6E11C;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 40px;

    h1 {
        font-family: "Montserrat Alternates";
        font-size: 75px; 
    }
    
}

form {
    width: 100%;
    height: auto;
}

label {
    font-size: 1.5em;
    color: black;
}

input {
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 42px;
    color:#18602C;
    border-radius: 24px;
    border: 3px solid #18602C;
}

textarea {
    font-size: 1.5em;
    width: 100%;
    height: 253px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 50px;
    color: #18602C;
    border-radius: 24px;
    border: 3px solid #18602C;
}

.boton_enviar {
    width: 100%;
    background-color: #18602C;
    color: white;
    height: 130px;
    font-size: 45px;
}

.columna_derecha {
    display: flex;
    flex-direction: column;
    height: 1120px;
    justify-content: space-between;
}
.agradecimientos p{
    color: #18602C;
    font-size: 150px;
    font-family: "Montserrat Alternates";
    font-style: italic;
    font-weight: 400;
}
.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    text-decoration: none;
    color: #18602C;
    h4{
        font-family: "Montserrat Alternates";
        font-size: 45px; 
    }
    p {
        width: 520px;
        
    }
}


.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-size: 30px;
    
    a{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: #18602C;
    }
    
}




#trabajos-main {
    background-color: #C6E11C;
    padding: 300px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h3{ color: #18602C;}
}
#imagenes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.brezza, .expo1, .expo2, .tipo1, .pinturas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.brezza-logos, .expo, .postales, .tipo, .pintura1y2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.video-medios {
    margin-left: 20px;
}


.close {
    display: block;
    position: absolute;
    top: 120px;
    right: 80px;
    font-size: 40px;
    font-family: "Montserrat Alternates";
    color: #C6E11C;
    background-color: black;
    border-radius: 40px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    mix-blend-mode: plus-lighter;
}
.flecha-iz-galeria, .flecha-de-galeria {
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    
}
#galeria {
    display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	z-index: 10;
    top: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0,5);
}
#galeria-oculta {
    display: flex;
    width: 100%;
    max-width: 1350px;
    overflow: hidden;
    z-index: 20;
}
.light-box {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100vh;
    justify-content: space-between;
}




footer {
    height: 150px;
    background-color: #18602C;
    color: #FC9EFF;
    font-size: 20px;
    font-family: "Montserrat";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 100px 50px;

    .derechos {
        display: flex;
        flex-direction: column;
    }
}