@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100; 1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


h3{
    font-size: 75px;
    font-family:  "Montserrat Alternates";
    color: #C6E11C;
}


#navegador {
    font-family: "Montserrat Alternates";
    font-size: 40px;
    width: 100%;
    padding: 15px 100px;
    background: #18602C;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
#navegador a {
    text-decoration: none;
    color: #FC9EFF;
}
nav a {
    text-decoration: none;
    color: #FC9EFF;
    padding: 5px 10px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botonera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    gap: 40px;
}



#presentacion {
    width: 100%;
    height: 700px;
    background-color: #18602C;
    font-family:  "Montserrat Alternates";
    font-weight: bold;
    color: #FC9EFF;
    display: flex;
    align-items: center;
    padding: 0% 100px;
}
#presentacion h1 {
    font-size: 170px;
    line-height: 190px;
}

#sobre-mi {
    width: 100%;
    height: 1000px;
    background-color: #FC9EFF;
    padding: 140px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.informacion {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
}
.informacion h2 {
    color: #18602C;
    font-family: "Montserrat Alternates";
    font-size:120px;
    font-weight: bold;
    padding: 30px 60px;
    background-color: #C6E11C;
    border-radius: 60px 60px 0% 60px;
}
.informacion p {
    color: black;
    font-family: "Montserrat";
    font-size: 30px;
    width: 600px;
    line-height: 38px;
    text-align: justify;
}
.imagen-vir {
    border-radius: 60px;
}


#datos {
    height: 1200px;
    background-color: #FC9EFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 100px;
    gap: 40px;
}
.datos1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;


}
.educacion, .habilidades {
    height: 520px;
    width: 780px;
    padding: 70px;
    background-color: #18602C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    li{
        font-family: "Montserrat";
        font-size: 30px;
        color: #FC9EFF;
        line-height: 40px;
        font-weight:600;
    }
    
    
}
.datos2 {
    height: 520px;
    width: 1600px;
    padding: 70px;
    background-color: #18602C;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    li{
        font-family: "Montserrat";
        font-size: 30px;
        color: #FC9EFF;
        line-height: 40px;
        font-weight:600;
    }
}

.galeria {
    height: 1200px;
    background-color:#18602C;
}








#informacion_contacto {
    font-family: "Montserrat";
    background-color: #FC9EFF;
}

.estructura_contacto {
    padding: 120px 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 150px;
}

.contacto {
    color:#18602C;
    width: 875px;
    background-color:#C6E11C;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 40px;

    h1 {
        font-family: "Montserrat Alternates";
        font-size: 75px; 
    }
    
}

form {
    width: 100%;
    height: auto;
}

label {
    font-size: 1.5em;
    color: black;
}

input {
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 42px;
    color:#18602C;
    border-radius: 24px;
    border: 3px solid #18602C;
}

textarea {
    font-size: 1.5em;
    width: 100%;
    height: 253px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 50px;
    color: #18602C;
    border-radius: 24px;
    border: 3px solid #18602C;
}

.boton_enviar {
    width: 100%;
    background-color: #18602C;
    color: white;
    height: 130px;
    font-size: 45px;
}

.columna_derecha {
    color: #18602C;
    display: flex;
    flex-direction: column;
    gap: 60px;

    p {
        width: 520px;
    }

    span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        h4{
            font-family: "Montserrat Alternates";
            font-size: 45px; 
        }
    }
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-size: 30px;
    color: #18602C;
    
    a{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
}




#trabajos-main {
    background-color: #C6E11C;
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h3{ color: #18602C;}
}
#imagenes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.brezza, .expo1, .expo2, .tipo1, .tipo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.brezza-logos, .expo, .postales, .tipo  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.libro, .memoria-tipo1, .memoria-tipo2, .afiches-tipo, .mockup-tipo {
    margin-left: 20px;
}



footer {
    height: 100px;
    background-color: #18602C;

}